
<div class="row">
	<div class="col-sm col-4">

    <dl class="dl-horizontal">
      <dt>Owner:</dt>
      <dd><%= @burger.owner.full_name %></dd>

    </dl>
    <div>
    <h4>details</h4>
    <p>protein:</p>
    <ul>
      <% @burger.burger_proteins.each do |p| %>
        <li><%= p.protein.name %> (<%= p.quantity %>@<%= number_to_currency(p.price_per/100.0) %>) </li>
      <% end %>
    </ul>
    <p>ingredients:</p>
    <ul>
      <% @burger.burger_ingredients.each do |i| %>
        <li><%= i.ingredient.name %> (<%= i.quantity %>@<%= number_to_currency(i.price_per/100.0) %>) </li>
      <% end %>
    </ul>
    <h4>Total: <%= number_to_currency(@burger.price/100.0) %></h4>
    </div>
 
  </div><!-- .col -->

	<div class="col-sm col-4">
		<h3><%= @burger.owner.first_name %>'s Burger:</h3>
    <%= render(BurgerComponent.new(burger: @burger)) %>

	</div><!-- .col -->
	
</div><!-- .row -->




