


<div class="row">
  <div class="col-sm-6">
    <h1>Proteins</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_protein_path, class: 'btn btn-primary' do %>
    Add New Protein
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            <th>Price</th>
            <th>Color</th>
            
      </tr>
    </thead>

    <tbody>
      <% @proteins.each do |protein| %>
        <%= content_tag :tr, id: dom_id(protein), class: dom_class(protein) do %>
          
            <td><%= link_to protein.name, protein %></td>
          

                      <td><%= protein.description %></td>
                      <td><%= protein.price %></td>
                      <td><%= protein.color %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
